/* styles.css */

body {
    font-family: var(--font-body);
    background-color: var(--color-light);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form-container {
    background-color: var(--color-mid);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.55);
    max-width: 600px;
    width: 70%;
}

h2 {
    margin-top: 0;
    color: var(--color-accent);
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-dark);
}

input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none; /* Hidden by default */
}

.submit-button {
    background-color: var(--color-accent);
    color: var(--color-light);
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #8f5600;
}
